<%- include('partials/header.ejs') %>

        <div class="jumbotron bg-secondary text-white">

            <h1>We landed on Mercury!</h1>
    
            <p>Did you know that Mercury issmallest planet in our solar system and nearest to the Sun. Mercury is only slightly larger than Earth's Moon. Despite being the closest planet to the sun
                 Mercury is not the hottest planet our solar system.</p>
         </div>
     <img src="/img/mercury.jpg" class="img-fluid" alt="Mercury-pic"></img>


<%- include('partials/footer.ejs') %>